footer {
  text-align: center;
  opacity: 0.5;
  margin-top: 50px;
  padding: 0 50px;
  padding-bottom: 20px;
}

footer img {
  width: 100px;
  vertical-align: middle;
  margin: 20px;
}

footer h5 {
  width: 50%;
  margin: auto;
  text-align: center;
  font-size: 0.7em;
  text-transform: uppercase;
  color: #888991;
}

@media (max-width: 823px) {
  footer h5 {
    width: 100%;
  }
}

@media screen and (min-width: 823px) {
  footer h5 {
    width: 50%;
  }
}