header {
    position: fixed;
    top: 20px;
    left: 20px;
    right: 20px;
    z-index: 1000;
    display: flex;
    align-items: center;
    padding: 7px 25px;
    background-color: var(--violet);
    background-image: url(../images/header_background_blured3.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 25px;
    transition: all 0.3s ease-in-out;
}

header h1 {
    font-weight: normal;
}

.header-active {
    top: 0;
    left: 0;
    right: 0;
    border-radius: 0;
}

header .title a {
    color: var(--white);
    font-size: 25px;
    margin-left: 20px;
    white-space: nowrap;
}

.nav_bar {
    margin-left: auto;
}

.nav_bar ul {
    list-style: none;
    display: flex;
    border-bottom: 2px solid var(--white);
    padding: 0;
    margin: 0;
}

.nav_bar li {
    display: block;
}

.nav_bar li a {
    display: block;
    color: var(--white);
    padding: 7px 20px;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.nav_bar li:hover a {
    background-color: var(--grey2);
}

.nav_bar li.active a {
    background-color: var(--white);
    color: var(--black);
}


header .fa-bars {
    display: none;
    color: var(--white);
    font-size: 30px;
    cursor: pointer;
    margin-left: auto;
    transition: transform 0.2s ease;
    background: transparent;
    border: none;
    padding: 0;
}

header .fa-bars.fa-times {
    transform: rotate(180deg);
}



footer {
    text-align: center;
    margin-top: 50px;
    padding: 0 50px 20px;
}

footer img {
    width: 100px;
    vertical-align: middle;
    margin: 20px;
}


footer .footer-legal {
    max-width: 800px;
    width: 90%;
    margin: 0 auto;
    font-size: 0.7em;
    text-transform: uppercase;
    color: #888991;
    line-height: 1.5;
    font-weight: normal;
}

@media (max-width: 800px) {
    header .fa-bars {
        display: block;
    }

    header .nav_bar {
        display: block;
        position: fixed;
        top: 76px;
        right: 20px;
        width: auto;
        background: var(--violet);
        border-radius: 20px;
        transform: translateX(120%);
        transition: transform 0.3s ease-in-out;
        box-shadow: 0 5px 15px rgba(0,0,0,0.3);
        margin-left: 0;
    }

    header.header-active .nav_bar {
        top: 56px;
        right: 0px;
    }

    header .nav_bar.open {
        transform: translateX(0);
    }
    
    .nav_bar ul {
        flex-direction: column;
        border-bottom: none;
        background-image: url(../images/header_background_blured3.webp);
        background-size: cover;
        background-position: center;
        border-radius: 20px;
        overflow: hidden;
    }

    .nav_bar li a {
        padding: 7px 15px;
    }
    
    .nav_bar li.active a {
        border-radius: 0;
    }

    footer .footer-legal {
        width: 100%;
    }
}
