.intro {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  padding-top: 20vh;
  padding-bottom: 10vh;
  z-index: 0;
}

.intro .image_intro {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10vh;
}

.intro .image_intro>img {
  width: 100vh;
  height: auto;
  object-fit: contain;
  max-width: 60%;
}

.text_intro {
  width: 50%;
  padding-left: 10vh;
  padding-top: 5vh;
  text-align: left;
}

.intro .text_intro .subtitle {
  margin-bottom: 10vh;
  padding-top: 10vh;
}

.intro .text_intro h2 span#dynamic-text {
  position: relative;
  display: inline-block;
  color: var(--white);
  line-height: 1;
}

@media (max-width: 823px) {
  .intro {
    flex-direction: column-reverse;
    padding-top: 10vh;
    padding-bottom: 10vh;
  }
  .intro .image_intro {
    width: 100%;
    padding-bottom: 0;
  }
  .text_intro {
    text-align: center;
    width: 100%;
    padding-left: 0;
    padding-top: 0;
    justify-self: center;
    padding-left: 5%;
    padding-right: 5%;
  }
  .intro .text_intro .subtitle {
    width: 100%;
  }
}