.lessons-main-content {
    padding: 10vh 2vh 5vh;
    max-width: 1200px;
    margin: 0 auto;
    color: var(--white);
}

.lesson-category-section {
    margin-bottom: 6vh;
}

.lesson-category-section:last-child {
    margin-bottom: 0;
}

.main-title.category-title {
    font-size: 50px;
    color: var(--white);
    text-align: center;
    margin-bottom: 4vh;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    padding-bottom: 1vh;
    font-style: italic;
}

.main-title.category-title::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 80px;
    height: 3px;
    background-color: var(--violet);
    border-radius: 5px;
}

.box_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 3vh;
    justify-content: center;
    align-items: stretch;
}

.lesson-card {
    background-color: var(--grey);
    border: 1px solid var(--violet);
    border-radius: 10px;
    padding: 2.5vh;
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease, box-shadow 0.3s ease, filter 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.lesson-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
    filter: brightness(70%);
}

.box_info h4 {
    font-size: 20px;
    color: var(--white);
    margin-bottom: 1vh;
    text-align: center;
    width: 100%;
}

.box_info p {
    font-size: 15px;
    line-height: 1.6;
    color: #d6d6d6;
    margin-bottom: 1.5vh;
    text-align: center;
}

.check_box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    width: 100%;
    margin-top: 1.5vh;
    margin-bottom: 0.5vh;
}

.checkbox-icon {
    font-size: 15px;
    margin-right: 0.8vh;
    color: var(--white);
}

.checkbox-icon.completed {
    color: #4CAF50;
}

.checkbox-icon.not-completed {
    color: #f44336;
}

.check_box p {
    margin: 0;
    padding: 0;
    font-size: 15px;
    color: var(--white);
    display: inline-block;
}

@media (max-width: 800px) {
    .lessons-main-content {
        padding: 8vh 1.5vh 4vh;
    }

    .main-title.category-title {
        font-size: 35px;
        margin-bottom: 3vh;
        text-align: center;
    }

    .main-title.category-title::after {
        left: 50%;
        transform: translateX(-50%);
    }

    .box_container {
        grid-template-columns: 1fr;
        gap: 2vh;
    }

    .lesson-card {
        padding: 2vh;
    }

    .box_info h4 {
        font-size: 1.2em;
    }

    .box_info p {
        font-size: 0.9em;
    }

    .check_box p, .checkbox-icon {
        font-size: 14px;
    }
}
