@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --violet: #9216a8;
  --grey: #2b2b2d;
  --white: #fff;
  --black: #0e101c;
  --grey2: #ffffff4d;
}

* {
  font-family: "Roboto Condensed", sans-serif;
  text-decoration: none;
  outline: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::selection {
  background-color: var(--grey);
  color: var(--white);
}

body {
  font-size: 100%;
  height: 100%;
  background-image: url(../images/back.webp);
  background-color: var(--grey);
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center center;
}

h1 {
  font-weight: normal;
}

.main-title {
  font-style: italic;
  text-transform: uppercase;
  font-size: 50px;
  color: var(--white);
  position: relative;
}

.subtitle {
  font-weight: normal;
  font-size: 30px;
  color: var(--white);
}

.filler {
  width: 100%;
}

.box_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 5vh;
  column-gap: 10vh;
  padding: 5vh 5vh;
  padding-bottom: 0;
  align-items: stretch;
  flex-grow: 1;
  align-content: stretch;
}

.box_container > a {
  display: flex;
  flex-direction: column;
}

.box_info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.box_info h4 {
  margin-bottom: 10px;
  font-size: 20px;
  color: #ddd;
  text-align: center;
  width: 100%;
}

.box_info p:not(.check_box p) {
  font-size: 15px;
  color: #d6d6d6;
  text-align: center;
  display: block;
}

.check_box {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 5px;
}

.check_box p {
    margin: 0;
    padding: 0;
    font-size: 1em;
    color: #fff;
    display: inline-block;
}

.checkbox-icon {
  font-size: 1.2em;
  margin-right: 8px;
  color: #fff;
}

@media (max-width: 800px) {
  html {
    font-size: 55%;
  }
  .main-title{
        text-align: center;
  }
  .check_box p {
    font-size: 15px;
  }
  .checkbox-icon {
    font-size: 15px;
  }
}